body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
}

li {
  margin: 0.7em auto;
}

.button {
  margin-left: 0.8em;
}

.emoji {
  margin-right: 0.8em;
}
